ktor {
  development = true
  deployment {
    port = 8080
  }
  application {
    modules = [ com.paprika.ApplicationKt.module ]
  }
}
application {
  secure {
    secret = ""
    domain = ""
    expiration = "" //Time in ms
  }
  database {
    url = ""
    driver = ""
    user = ""
    password = ""
  }
  files {
    savePath = ""
  }
  bot {
    token = ""
    webappUrl = ""
  }
}