ktor {
  development = true
  deployment {
    port = 8080
  }
  application {
    modules = [ com.paprika.ApplicationKt.module ]
  }
}
application {
  database {
    url = ""
    driver = ""
    user = ""
    password = ""
  }
}